<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
     <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='static/styles/about.css}}">
</head>
<body>
    <header>
        <a href="#" class="back-button"><i class="fa fa-arrow-left"></i></a>
    </header>
    <main>
        <section class="about">
            <h2>Welcome to NowWorki</h2>
            <p class="center">The ultimate resource for those looking to land their dream job in the banking and tech fields. Our platform provides a space for individuals to share tips, tricks, and insights that have helped them secure a position in these competitive industries.</p>
            <p class="center">We understand that the job search process can be overwhelming and stressful, especially in these fields. That's why we've created a community where people can connect, share their experiences, and offer advice to one another. Our website is designed to be a collaborative platform that allows members to learn from each other, as well as share their own personal insights.</p>
            <p class="center">Our website features a range of resources and tools to help you navigate your job search, including job postings, resume and cover letter templates, and interview tips. Our community of experienced professionals is also available to offer guidance and support throughout the job search process.</p>
            <p class="center">Whether you're just starting your career or are a seasoned professional looking for a new opportunity, our website is here to help you achieve your goals. Join our community today and gain access to the latest insights and trends in the banking and tech industries, as well as connect with like-minded individuals who are committed to helping each other succeed.</p>
        </section>
    </main>
    <footer>
        <p>&copy; 2023 - NowWorki</p>
    </footer>
</body>
</html>
