<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8" />

        <script type="module">
            globalThis.topic = "{{topic}}";
            globalThis.replyTargetPid = "{{reply_target_pid}}";
        </script>

        <link href="{{ url_for('static', filename='styles/common.css') }}" rel="stylesheet" />
        <link href="{{ url_for('static', filename='styles/add_post.css') }}" rel="stylesheet" />
        <script src="{{ url_for('static', filename='styles/add_post.js') }}" type="module"></script>

        <title></title>
    </head>

    <body>
        <main>
            <div class="header">
                <!-- <a href="/" class="material-symbols-outlined">arrow_back</a> -->
                <button class="back-button">🡠 Back</button>

                <div>NowWork¡ / {{topic.capitalize()}}</div>

                <div>
                    {% if username %}
                    Logged in as {{username}} <button class="logout-button">Logout</button>
                    {% else %}
                    Not logged in <a href="/login">
                        <button>Log in</button>
                    </a> 
                    {% endif %}
                </div>
            </div>

            <div class="editor-panel">
                <h1>Add a post</h1>

                <p>Posting to {{topic.capitalize()}}</p>
                {% if not reply_target_pid %}
                <p>
                    Relevant for
                    <span class="fulltime-radios">
                        <span>
                            <input type="radio"
                                    id="internships-radio"
                                    name="fulltime"
                                    value="0" /> <label for="internships-radio">Internships</label>
                        </span>
                        <span>
                            <input type="radio"
                                    id="fulltime-radio"
                                    name="fulltime"
                                    value="1" /> <label for="fulltime-radio">Full-time</label>
                        </span>
                    </span>
                </p>
                {% endif %}
                {% if reply_target_pid %}
                <p>Responding to "…"</p>

                {% endif %}
                <hr />
    
                <div class="post editor">
                    <h2 contenteditable
                            data-placeholder="Enter a title"></h2>
                    <div contenteditable
                            data-placeholder="Write your heart out"
                            class="body"></div>
                </div>
    
                <hr />
    
                <div class="post-row">
                    <button class="post-button">⤒ Post</button>
    
                    <span class="status-indicator"></span>
                </div>
            </div>
        </main>
    </body>
</html>