<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,user-scalable=no, initial scale=1.0,maximum-scale=1-0,minimum-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='static/styles/help.css}}">
    <title>Help</title>
</head>

<body>

 <ul id="accordion">
        <li>
            <label for="first"> How do I post tips and tricks on the forum? <span>&#x3e;</span>    </label>
            <input type="radio" name="accordion" id="first" checked>
            <div class="content">
                <p>
                    To post a tip or trick, simply navigate to the appropriate forum and click on "New Post". From there, you can type in your post and add any relevant information.
                </p>
            </div>
        </li>
        <li>
            <label for="second"> How can I make sure my post is relevant and useful to others?<span>&#x3e;</span></label>
            <input type="radio" name="accordion" id="second" checked>
            <div class="content">
                <p>
                Before posting, take some time to consider what information would be most helpful to others. Think about your own job search experience and what advice you wish you had received. Try to include specific details and examples in your post to make it as useful as possible.
                </p>
            </div>
        </li>
        <li>
            <label for="third"> Can I ask for help or advice from others on the forum?<span>&#x3e;</span></label>
            <input type="radio" name="accordion" id="third">
            <div class="content">
                <p>
                Absolutely! Our forum is designed to be a supportive community where members can share their experiences and offer help to others. If you're stuck on a particular aspect of your job search, don't hesitate to post a question or ask for advice.
                </p>
            </div>
        </li>
        <li>
            <label for="fourth"> How can I find tips and tricks that are relevant to me?<span>&#x3e;</span></label>
            <input type="radio" name="accordion" id="fourth">
            <div class="content">
                <p>
                Our forum is organized into different sections based on industry . You can browse through these sections to find tips and tricks that are most relevant to your needs.
                </p>
            </div>
        </li>
        <li>
            <label for="fifth"> How can I connect with other members on the forum?<span>&#x3e;</span></label>
            <input type="radio" name="accordion" id="fifth">
            <div class="content">
                <p>
                    Our forum is designed to be a community where members can connect and support each other. You can engage in conversations either in the industry tabs or in the networking tab.
                </p>
            </div>
        </li>
    </ul>
</body>
</html>