<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <link href="./common.css" rel="stylesheet" />
        <link href="./index.css" rel="stylesheet" />
        <script src="./index.js" type="module"></script>
        
        <!-- Google Fonts -->
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link href="https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,700;1,700&family=Overpass:wght@400;900&family=Zilla+Slab:ital,wght@0,700;1,700&family=Barlow+Condensed:wght@700&display=swap" rel="stylesheet" /> 
        

        <title>NowWork¡</title>
    </head>

    <body>
        <main>
            <h1>NowWork¡</h1>

            <div class="bubble-container">
                <div class="bubble"
                        style="--left: 0; --top: -1; --background: #1d6d2e7f;">
                    <a href="./forum/banking"></a>
                    Banking
                </div>
                <div class="bubble"
                        style="--left: -1.25; --top: 1; --background: #1d616d7f;">
                    <a href="./forum/tech"></a>
                    Tech
                </div>
                <div class="bubble"
                        style="--left: 1.25; --top: 1; --background: #6b27927f;">
                    <a href="./forum/networking"></a>
                    Networking
                </div>
                
                <div class="bubble small"
                        style="--left: 6; --top: -3; --background: #aaaaaa7f;">
                    <a href="./about"></a>
                    About
                </div>
                <div class="bubble small"
                        style="--left: 7; --top: -0.75; --background: #aaaaaa7f;">
                    <a href="./help"></a>
                    Help
                </div>
            </div>
        </main>
    </body>
</html>